<?xml version="1.0"?>
<!-- This file combines all the parts to create the full aerial manipulator robot description -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mbr_vehicle">
  
  <xacro:include filename="parameters.xacro" />
  <xacro:include filename="utils.xacro" />
  <xacro:include filename="delta_manipulator.xacro" />
  <xacro:include filename="aerial_platform.xacro" />
  
  <link name ="base">
    <visual>
      <geometry>
        <cylinder radius="${r_base}" length="${0.1*r_base}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${r_base}" length="${0.1*r_base}"/>
      </geometry>
    </collision>
    <inertial>
      <mass>    
    </inertial>
  </link>
  
  <!-- Revolute joint with AoR parallel to platform NED y-axis, between platform and manipulator-->
  <joint name="tilt_servo" type="revolute">
  # Fill this in
  </joint>
  
  
  <!-- Link ROS to Gazebo -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>
