<?xml version="1.0"?>
<model>
  <name>MBR SITL Vehicle</name>
  <version>1.0</version>
  <sdf version='1.6'>mbr_sitl_vehicle.sdf</sdf>

  <author>
   <name>Martijn Brummelhuis</name>
   <email>mbrummelhuis@gmail.com</email>
  </author>

  <description>
    This is the model of the aerial manipulator of my master thesis. It was derived from the 3DR Iris 
    model that came with the gazebo_sitl package. This original model has been created by
    Thomas Gubler and Lorenz Meier.
  </description>
</model>
